@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

.page-title {
  font-size: 38px;
  margin-bottom: 20px;
  font-family: "Poppins";
  margin-bottom: 0px;
}
.container__about {
  background-color: var(--about_container_background);
  padding: 20px;
  color: var(--text_color);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-family: "openSans";
  padding-bottom: var(--about_container_bottom_padding);
  position: relative;
}

.about__icons--wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  max-width: 300px;
  margin: 0px;
}

.purple__ball {
  width: 100px;
  position: absolute;
  right: 2%;
  top: 0;
}

.purple__smallball {
  position: absolute;
  width: 70px;
  right: 2%;
  top: 15%;
  max-width: 1300px;
}

.about__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about__icons--title {
  font-weight: bold;
}

.about__text {
  margin: 0px;
  font-size: 14px;
  font-weight: var(--about_left_text_font);
  transition: font-weight var(--transition-duration);
}

.about__wrapper {
  display: flex;
  gap: 20px;
}

.title-container {
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  gap: 100px;
}
.left-text {
  flex: 1;
  margin-top: 0;
  padding-right: 15px;
  font-size: 16px;
  font-weight: var(--about_left_text_font);
  transition: font-weight var(--transition-duration);
  font-family: "Open Sans";
  line-height: 2.2;
  max-width: 40%;
}
.right-image {
  width: 30%;
}
.highlighted-text {
  color: #9747ff;
}

.icon {
  font-size: 24px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 1339px) {
  .content-container {
    flex-direction: column;
    margin-top: 0px;
    padding-bottom: 100px;
  }
  .about__text--wrapper {
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
  }
  .about__icons--wrapper {
    text-align: center;
    align-items: center;
  }
  .purple__ball {
    display: none;
  }
  .purple__smallball {
    display: none;
  }
  .left-text {
    max-width: 70%;
  }
  .about__wrapper {
    justify-content: center;
  }
  .page-title {
    text-align: center !important;
  }
  .right-image {
    width: 40%;
  }
  .container__about {
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .page-title {
    font-size: 29px;
  }
  .left-text {
    max-width: 90%;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about__text {
    text-align: center;
  }
  .about__wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .about__icons--wrapper {
    align-items: center;
    max-width: 100%;
  }
  .right-image {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .right-image {
    width: 80%;
  }
}
