.btn_comp {
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins";
  padding: 10px 1.5rem;
  background-color: #9747ff;
  opacity: 1;
  margin-bottom: 28px;
  transition: all 300ms ease;
}

.btn_comp2 {
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins";
  padding: 10px 1.5rem;
  background-color: #9747ff;
  opacity: 1;
  transition: all 300ms ease;
}

.btn_comp2:hover {
  background-color: #8742e2;
}

.btn_comp:hover {
  background-color: #8742e2;
}
