@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

.footer__container {
  width: 100%;
  height: 100px;
  background-color: var(--footer_background_color);
  transition: background-color var(--transition-duration);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--img {
  width: 130px;
}

.footer__text {
  color: white;
  font-family: "Lato";
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: var(--footer_font_weight);
  transition: font-weight var(--transition-duration);
}

.socials {
  width: 25%;
  cursor: not-allowed;
  transition: all 300ms;
}

.socials:hover {
  opacity: 0.8;
}

.socials__wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 200px;
}
@media (max-width: 1200px) {
  .footer__row {
    gap: 50px;
  }
}

@media (max-width: 850px) {
  .footer__row {
    flex-direction: column;
    gap: 2rem;
    z-index: 200;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  .footer__container {
    height: 250px;
  }
}
@media (max-width: 630px) {
  .footer__text {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
