.comment__title {
  color: white;
  margin-bottom: 30px;
}

.comment__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #120e14;
  padding-top: 50px;
  padding-bottom: 100px;
}

.comment__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment__subtitle {
  color: white;
  text-align: center;
}

.comment__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comment__wrapper {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.first__profile {
  left: 10%;
  top: 22%;
  cursor: pointer;
  position: absolute;
  width: 50px;
  border: 3px solid #9747ff;
  border-radius: 50px;
  z-index: 2;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.hide1 {
  position: absolute;
  left: 8%;
  top: 19%;
  width: 400px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.first__profile:hover + .hide1 {
  opacity: 1;
}

.second__profile {
  left: 43%;
  top: 40%;
  cursor: pointer;
  position: absolute;
  width: 50px;
  border: 3px solid #9747ff;
  border-radius: 50px;
  z-index: 2;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.hide2 {
  position: absolute;
  left: 42%;
  top: 38%;
  width: 400px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transition: all 300ms ease;
}

.second__profile:hover + .hide2 {
  opacity: 1;
  transform: scale(1.05);
}

.highlighted--text {
  color: #9747ff;
}

.third__profile {
  left: 22%;
  top: 70%;
  cursor: pointer;
  position: absolute;
  width: 50px;
  border: 3px solid #9747ff;
  border-radius: 50px;
  z-index: 2;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.hide3 {
  position: absolute;
  left: 21%;
  top: 68%;
  width: 400px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transition: all 300ms ease;
}

.third__profile:hover + .hide3 {
  opacity: 1;
  transform: scale(1.05);
}

.fourth__profile {
  top: 10%;
  left: 60%;
  cursor: pointer;
  position: absolute;
  width: 50px;
  border: 3px solid #9747ff;
  border-radius: 50px;
  z-index: 2;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.hide4 {
  position: absolute;
  top: 8%;
  left: 59%;
  width: 400px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transition: all 300ms ease;
}

.fourth__profile:hover + .hide4 {
  opacity: 1;
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .comment__container {
    display: none;
  }
}