.sidebar {
  box-sizing: border-box;
  width: 178px;
  min-height: 100vh;
  height: 100%;
  background-color: #4123b2;
}
.sidebar .logo_div {
  padding-top: 2rem;
  text-align: center;
}
.sidebar .logo_img {
  width: 120px;
}
.sidebar ul {
  padding-left: 0px;
  margin-top: 10rem;
}
.sidebar .menu_logo {
  width: 20%;
}
.sidebar li {
  position: relative;
  list-style-type: none;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: auto;
  width: 75%;
  padding-right: 14px;
  background-color: #4123b2;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  transition: background-color 0.3s ease-in;
}
.sidebar li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  margin-left: 1rem;
}
.sidebar li div:before {
  background: #4123b2;
  box-shadow: 0 17px 0 #4123b2;
  position: absolute;
  content: "";
  height: 0px;
  width: 40px;
  right: 0;
  bottom: 100%;
  border-bottom-right-radius: 17px;
  transition: box-shadow 0.3s ease-in;
}
.sidebar li.active div:before {
  background: #4123b2;
  box-shadow: 0 17px 0 #1a0f22;
  height: 30px;
}
.sidebar li div:after {
  position: absolute;
  content: "";
  height: 0px;
  width: 40px;
  background: #4123b2;
  right: 0;
  top: 100%;
  border-top-right-radius: 17px;
  box-shadow: 0 -17px 0 #4123b2;
  transition: box-shadow 0.3s ease-in;
}

.sidebar li.active div:after {
  height: 30px;
  background: #4123b2;
  box-shadow: 0 -17px 0 #1a0f22;
}

.sidebar .title {
  font-weight: 400;
  z-index: 3;
  font-family: "DM Sans";
}
.sidebar li.active {
  background-color: #1a0f22;
}
.menu_div {
  margin-bottom: 50px;
}
