.steps__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.steps__title {
    color: white;
}

.steps__header {
    margin-bottom: 70px;
}

.air__link {
    border-bottom: 2px white solid;
    cursor: not-allowed;
    font-weight: bold;
    transition: all 300ms ease;
}

.air__link:hover {
    opacity: 0.9;
}

.air__link2:hover {
    opacity: 0.9;
}

.air__link2 {
    border-bottom: 2px white solid;
    cursor: pointer;
    font-weight: bold;
    transition: all 300ms ease;
}

.steps__img {
    width: 60%;
}

.steps__text {
    color: white;
    text-align: center;
    max-width: 300px;
}

.steps {
    margin-top: 40px;
}

.steps__content {
    display: flex;
    max-width: 1300px;
}

.steps__content--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.steps__icon {
    color: #9747ff;
    font-size: 35px;
}

.pink__text {
    color: #f71065;
}

.yellow__text {
    color: #fed749;
}

@media (max-width: 1339px) {
    .box_wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .steps__content {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .steps__container {
      margin-bottom: 70px;
    }
    .steps__content--wrapper:nth-child(3) {
        margin-bottom: 0px;
    }

    .steps__text {
        font-size: 14px;
        padding: 15px;
    }
    .steps__content--wrapper {
        margin-bottom: 50px
    }
    .steps__header {
        margin-bottom: 50px;
    }
  }