.container__work {
  background: #120e14;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.images {
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
}

.work__box {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #281f2d53;
  width: 350px;
  height: 500px;
  margin: 20px;
  display: inline-block;
  color: white;
  border-radius: 10px;
  transition: transform 0.2s;
  position: relative;
}

.work__box--wrapper {
  gap: 40px;
}

.openweather__detail {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(219, 93, 20) 0%,
    rgb(129, 230, 217) 100%
  );
}

.oura__logo {
  margin-top: 10px;
}

.oura__detail {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(113, 56, 178) 0%,
    rgb(129, 230, 217) 100%
  );
}

.airwise__box {
  background: linear-gradient(
    115deg,
    rgb(206, 192, 116) 0%,
    rgb(89, 0, 255) 100%
  );
}

.openweather__btn {
  padding: 12px 40px;
  margin-top: 40px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    115deg,
    rgb(219, 93, 20) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "poppins";
  cursor: pointer;
  transition: all 300ms ease;
}

.works__btn {
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}

.works__btn:hover {
  border-bottom: 2px solid #9747ff
}

a {
  color: white;
  text-decoration: none;
}

.openweather__btn:hover {
  opacity: 0.8;
}

.airwise__btn {
  padding: 12px 40px;
  margin-top: 40px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: linear-gradient(115deg, rgb(206, 192, 116) 0%, rgb(89, 0, 255) 100%);
  font-size: 14px;
  font-weight: bold;
  font-family: "poppins";
  cursor: not-allowed;
  transition: all 300ms ease;
}

.airwise__btn:hover {
  opacity: 0.8;
}

.oura__btn {
  padding: 12px 40px;
  margin-top: 40px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    115deg,
    rgb(113, 56, 178) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 300ms ease;
}

.oura__btn:hover {
  opacity: 0.8;
}

.oura__text {
  font-size: 16px;
  padding: 50px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.logo__wrapper {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.airwise__logo {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
}

.openweather__logo {
  width: 35%;
  display: inline-block;
}

.box {
  padding-top: 40px;
  background-color: #281f2d53;
  width: 290px;
  height: 250px;
  margin: 10px;
  display: inline-block;
  color: white;
  border-radius: 10px;
  transition: transform 0.2s;
}
p {
  font-family: "Open Sans";
  line-height: 2;
  font-weight: 300;
}
h1 {
  font-size: 36px;
  text-align: center;
  font-family: "Poppins";
}
h2 {
  font-size: 24px;
  text-align: center;
  font-family: "Poppins";
}
h3 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
  line-height: 30pt;
}
h4 {
  font-size: 24px;
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
}
.highlighted-text {
  color: #9747ff;
}
h3,
h4 {
  flex: 1;
}
.image {
  float: right;
  margin-left: 10px;
}

img {
  width: 30%;
}

.works__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
