.Home {
  display: grid;
  grid-template-areas:
    "recommendation weather"
    "health weather";
  grid-template-columns: 67% 30%;
  grid-template-rows: 40% 60%;
  row-gap: 3rem;
}

.healthReport {
  grid-area: health;
}
.middle__box--content {
  grid-area: recommendation;
}
.right-side__wrapper {
  grid-area: weather;
}
