.Home {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-areas:
    ". location"
    "recommendation weather"
    "health weather";
  grid-template-columns: 68%;
  grid-template-rows: 12% 460px 1fr;
  max-width: fit-content;
  margin: 0 auto;
  /* overflow-x: scroll; */
  width: 100%;

  /* grid-template-columns: 70% 20%;
} */
}
.healthReport {
  grid-area: health;
}
.home_header {
  grid-area: home_header;
  margin: 20px;
}
.location__wrapper {
  grid-area: location;
}
.middle__box {
  grid-area: recommendation;
  margin: 0 0 0 20px;
  width: 100%;
}
.right-side__wrapper {
  grid-area: weather;
  align-items: end;
}
.home__title {
  font-size: 32px;
  font-family: "DM Sans";
  font-weight: bold;
}

.home__middle--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
@media (max-width: 1390px) {
  .Home {
    grid-template-areas:
      ". "
      "recommendation"
      "health"
      "weather";
    grid-template-columns: 1fr;
    grid-template-rows: 12% 460px 1fr;
    width: 97%;
    max-width: 100%;
  }
  .middle__box {
    width: 97%;
  }
}
