.interface {
  display: grid;
  height: 100vh;
  grid-template-columns: 180px 1fr;
  grid-template-areas: "sidebar healthReport";
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
  background-color: #1a0f22;
  background-image: url("../../assets/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sidebar {
  grid-area: sidebar;
}
.healthReport {
  grid-area: healthReport;
  width: 100%;
}

.interface__overlay {
  background-color: #1a0f22;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
