.interface {
  display: grid;
  height: 100vh;
  grid-template-columns: 180px 1fr;
  grid-template-areas: "sidebar healthReport";
  overflow-y: hidden;
  position: relative;
}
.sidebar {
  grid-area: sidebar;
}
.healthReport {
  grid-area: healthReport;
  width: 100%;
}
