@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: #140f18;
}

html {
  scroll-behavior: smooth;
}

.hero_section {
  background-color: #140f18;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 280px;
}

.hero_text_img_div {
  display: flex;
  gap: 20%;
  margin-top: 100px;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  max-width: 1300px;
}
.top_text {
  color: white;
  font-size: 46px;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text_div {
  align-self: center;
  width: 40%;
}
.text_div p {
}
.text_bottom_div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.group1 {
  position: relative;
  width: fit-content;
}
.group1 p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.group1_icon {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100px;
}
.image_div img {
  width: 450px;
}
