@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: #140f18;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero_section {
  background-color: #140f18;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 280px;
}

.hero__subtitle {
  color: white;
  max-width: 500px;
  font-size: 16px;
  margin-bottom: 0px;
}


.hero_text_img_div {
  display: flex;
  gap: 20%;
  margin-top: 100px;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  max-width: 1300px;
}
.top_text {
  color: white;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text_div {
  align-self: center;
  width: 40%;
}
.text_div p {
}
.text_bottom_div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.group1 {
  position: relative;
  width: fit-content;
}
.group1 p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.group1_icon {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100px;
}
.image_div img {
  width: 450px;
}

@media (max-width: 1339px) {
  .hero_text_img_div {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 4rem;
  }
  .image_div {
    text-align: center;
  }
  .text_div {
    width: 70%;
    text-align: center;
  }
  .text_bottom_div {
    justify-content: center;
  }
  .hero_section {
    margin-bottom: 50px;
  }
  .subtitle__wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-direction: column;
    margin: 0 auto;
  }
  .right_image {
      width: 50% !important;
  }
}
@media (max-width: 800px) {
  .text_bottom_div {
    flex-direction: column;
  }
  .hero_text_img_div {
    padding-top: 8rem;
  }
  .top_text {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .top_text,
  .top_text_span {
    font-size: 31px;
  }
  .text_div {
    width: 90%;
  }
  .hero_text_img_div {
    padding-top: 2rem;
  }
  .right_image {
    width: 70% !important;
}
}
@media (max-width: 500px) {
  .image_div img {
    width: 350px;
  }
}
@media (max-width: 350px) {
  .image_div img {
    width: 250px;
  }
}
