@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --background_color: #140f18;
  --header_color: #140f18;
  --header_box_shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  --text_color: #ffffff;
  --top_text: white;
  --nav_button_background_color: #9747ff;
  --nav_button_hover_color: #8742e2;
  --hero_section_bottom_margin: 280px;
  --stats_box_color: #281f2d53;
  --body_background_light: white;
  --body_background_dark: #140f18;
  --stats_box_shadow: none;
  --stats_container_bottom_margin: 100px;
  --about_container_background: #120e14;
  --about_container_bottom_padding: 150px;
  --about_left_text_font: 300;
  --work_box_color: #281f2d53;
  --steps_content_gap: 0;
  --steps_yellow_text: #fed749;
  --steps_container_margin_bottom: 100px;

  --transition-duration: 0.8s;
  --comment_image_width: 100%;
  --footer_background_color: #120e14;
  --footer_font_weight: 300;
}
.light_mode {
  --background_color: #ffffff;
  --header_color: #f6f5ff;
  --header_box_shadow: none;
  --text_color: #000000;
  --top_text: #201359;
  --nav_button_background_color: #562eff;
  --nav_button_hover_color: #4021c0;
  --hero_section_bottom_margin: 180px;
  --stats_box_color: white;
  --stats_container_bottom_margin: 10px;
  --about_container_bottom_padding: 30px;
  --stats_box_shadow: 5px 5px 0px 1px rgba(208, 172, 255, 0.75);
  --about_container_background: var(--background_color);
  --about_left_text_font: 500;
  --work_box_color: black;
  --steps_content_gap: 2rem;
  --steps_yellow_text: #4021c0;
  --steps_container_margin_bottom: 100px;

  --transition-duration: 0.8s;
  --comment_image_width: 100%;
  --footer_background_color: #562eff;
  --footer_font_weight: 600;
}

body {
  background-color: var(--background_color);
  overflow-x: hidden;
  transition: background-color var(--transition-duration);
}

html {
  scroll-behavior: smooth;
  background-color: var(--background_color);
  transition: background-color var(--transition-duration);
  overflow-x: hidden;
}

.hero_section {
  background-color: var(--background_color);
  transition: background-color var(--transition-duration);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: var(--hero_section_bottom_margin);
}

.hero__subtitle {
  color: var(--text_color);
  max-width: 500px;
  font-size: 16px;
  margin-bottom: 0px;
}

.hero_text_img_div {
  display: flex;
  gap: 20%;
  margin-top: 100px;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  max-width: 1300px;
}
.top_text {
  color: var(--text_color);
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.bottom_text {
  color: var(--text_color) !important;
  font-family: "Poppins" !important;
}
.text_div {
  align-self: center;
  width: 40%;
}
.text_div p {
}
.text_bottom_div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.group1 {
  position: relative;
  width: fit-content;
}
.group1 p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.group1_icon {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100px;
}
.image_div img {
  width: 450px;
}

@media (max-width: 1339px) {
  .hero_text_img_div {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 4rem;
  }
  .image_div {
    text-align: center;
  }
  .text_div {
    width: 70%;
    text-align: center;
  }
  .text_bottom_div {
    justify-content: center;
  }
  .hero_section {
    margin-bottom: 50px;
  }
  .subtitle__wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-direction: column;
    margin: 0 auto;
  }
  .right_image {
    width: 50% !important;
  }
}
@media (max-width: 800px) {
  .text_bottom_div {
    flex-direction: column;
  }
  .hero_text_img_div {
    padding-top: 8rem;
  }
  .top_text {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .top_text,
  .top_text_span {
    font-size: 31px;
  }
  .text_div {
    width: 90%;
  }
  .hero_text_img_div {
    padding-top: 2rem;
  }
  .right_image {
    width: 70% !important;
  }
}
@media (max-width: 500px) {
  .image_div img {
    width: 350px;
  }
}
@media (max-width: 350px) {
  .image_div img {
    width: 250px;
  }
}
