.reportBoxComp {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 248px;
  height: 276px;
  background-color: #1e1128;
  border-radius: 15px;
}
.pstn_relative {
  position: relative;
}
.top_border_line {
  margin-top: 0.2rem;
  border-top: 1px solid #302a39;
}
.p_tag {
  margin: 0;
}
.negative_mt {
  margin-top: -6.5rem;
}
.repo_comp_header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
}
.readiness_sleep_text,
.readiness_text {
  text-align: center;
  font-family: "DM Sans";
  margin-bottom: 30px;
  font-weight: 300;
  max-width: 300px;
}
.none {
  display: none;
}
.readiness_sleep_text {
  margin-top: 0;
  margin-bottom: 0.3rem;
}
text {
  fill: white;
  display: none;
}
.mid_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bcbcbc;
  font-size: 10px;
}
.sleep_duration_mid_div {
  width: 75%;
  margin: auto;
}

.exact_reading {
  font-family: "DM Sans";
  font-weight: bold;
}

.sleep_duration_down_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 12px;
  font-weight: bold;
}
.reading_value {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "DM Sans";
}
.left_side_down,
.right_side_down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.down_img_div {
  /* width: auto;
  height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .down_img_div svg{
  height: ;
} */
.down_img_div ._half-circular-progress {
  width: 100px;
  height: 150px;
}

.right_end_time,
.left_start_time {
  font-family: "DM Sans";
  font-size: 12px;
}

.readiness_sleep_text {
  font-family: "DM Sans";
  font-weight: 600;
}

.sleep_duration {
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 12px;
}

.heart_beat {
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 12px;
}

.readiness_text {
  font-family: "DM Sans";
  margin-bottom: 30px;
  font-weight: 300;
}

.heart_rate_reading_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  margin-top: 1rem;
}
.exact_reading_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.up_unit {
  font-size: 12px;
  font-family: "DM Sans";
  color: rgba(255, 255, 255, 0.507);
}
.down_unit {
  font-size: 12px;
  font-family: "DM Sans";
  color: rgba(255, 255, 255, 0.507);
}
